<ion-grid class="auth-container">
  <ion-row class="auth-row">
    <ion-col size="2"></ion-col>

    <ion-col size="8" class="auth-form-container ion-no-padding">
      <h1>Reset your password</h1>
      <p>Enter your user account's verified email address and we will send you a password reset link.</p>
      <ion-input label="Email address" type="email" placeholder="Email address" label-placement="floating"
        fill="solid"></ion-input>
      <ion-button>Send password reset email</ion-button>
      <ion-row class="ion-justify-content-between">
        <div>
          <a routerLink="/login">Already have an account? Login</a>
        </div>
        <div>
          <a routerLink="/register">Register yourself</a>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>