<ion-grid class="auth-container">
  <ion-row class="auth-row">
    <ion-col size="2"></ion-col>

    <ion-col size="8" class="auth-form-container ion-no-padding">
      <h1>Reset your password</h1>
      <p class="ion-no-padding ion-no-margin">Enter your user account's verified email address and we will send you a
        password reset link.</p>
      <form class="auth-form-container" #forgetForm="ngForm" (ngSubmit)="onSubmit(forgetForm.value)">
        <ion-input label="Email address" type="email" placeholder="Email address" label-placement="floating"
          fill="solid" name="email" [(ngModel)]="forgetData.email" #email="ngModel" required></ion-input>
        <div class="text-danger" *ngIf="email?.invalid && (email?.touched || submitted)">
          <span *ngIf="email.errors?.['required']">This is Required</span>
        </div>
        <ion-button type="submit" routerLink="/otp">Send password reset email</ion-button>
      </form>
      <ion-row class="ion-justify-content-between">
        <div>
          <a routerLink="/login">Already have an account? Login</a>
        </div>
        <div>
          <a routerLink="/register">Register yourself</a>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>