<ion-grid class="container">
    <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8" class="login-container">
            <h4 class="welcome-text ion-no-margin ion-no-padding">Welcome back!</h4>
            <span class="signin-text ion-border-all">Sign in</span>
            <ion-input label="Enter your email address" label-placement="floating" fill="solid"
                placeholder="Email address"></ion-input>
            <ion-input label="Enter your Password" label-placement="floating" fill="solid"
                placeholder="Password"></ion-input>
            <a>Forgot password?</a>
            <ion-button class="signin-button">Sign in</ion-button>
            <div class="register-text">
                <a>Register yourself</a>

            </div>
        </ion-col>
    </ion-row>
</ion-grid>