.subheading {
    background-color: #f3f4f6;
    color: #374151;
    margin: 0px;
    padding: 0px;
}

.eyetoggle {
    color: bluemary ;
}

.text-danger {
    color: #dc3545; /* Red color */
    font-weight: bold; /* Bold text */
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}