<ion-grid class="auth-container">
  <ion-row class="auth-row">
    <ion-col size="1" size-sm="1" size-md="1" sizeLg="2"></ion-col>

    <ion-col size="10" size-sm="10" size-md="10" size-lg="8" class="auth-form-container ion-no-padding">
      <h1>Choose a new password</h1>
      <p class="subheading">You can change your password immediately because you are logged into your
        email account on this browser.</p>
      <p class="ion-no-margin ion-no-padding">Create a new password that is at least 6 characters long. A Strong
        password has a combination of letters, digits and punctuation marks.</p>

      <form class="auth-form-container" #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm.value)">

        <ion-input type="password" label="New password" label-placement="floating" fill="solid"
          placeholder="New password" name="newPassword" [(ngModel)]="changePasswordData.newPassword"
          #newPassword="ngModel" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        <!-- Show Error -->
        <div class="text-danger" *ngIf="newPassword.invalid && (newPassword.touched || submitted)">
          <span *ngIf="newPassword.errors?.['required']">Password is required</span>
        </div>

        <ion-input type="password" label="Confirm password" label-placement="floating" fill="solid"
          placeholder="Confirm password" name="confirmPassword" [(ngModel)]="changePasswordData.confirmPassword"
          #confirmPassword="ngModel" required>
          <ion-input-password-toggle type="danger" slot="end"></ion-input-password-toggle>
        </ion-input>

        <!-- Show Error -->
        <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.touched || submitted)">
          <span *ngIf="confirmPassword.errors?.['required']">Confirm Password is required</span>
        </div>

        <!-- Show Password Mismatch Error -->
        <div class="text-danger"
          *ngIf="submitted && changePasswordData.newPassword !== changePasswordData.confirmPassword && confirmPassword.valid">
          Passwords do not match.
        </div>

        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-button type="submit" expand="block" style="margin: 0; padding: 0;">
              Change password
            </ion-button>
          </ion-col>
        </ion-row>

      </form>

    </ion-col>
  </ion-row>
</ion-grid>