<ion-grid class="auth-container">
  <ion-row class="auth-row">
    <ion-col size="2"></ion-col>

    <ion-col size="8" class="auth-form-container ion-no-padding">
      <h1>Choose a new password</h1>
      <p class="subheading">You can change your password immediately because you are logged into your
        email account on this browser.</p>
      <p class="ion-no-margin ion-no-padding">Create a new password that is at least 6 characters long. A Strong
        password
        has a combination of letters,
        digits and punctuation marks.</p>
      <ion-input type="password" label="New password" label-placement="floating" fill="solid"
        placeholder="New password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-input type="password" label="Confirm password" label-placement="floating" fill="solid"
        placeholder="Confirm password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-button>Change password</ion-button>

    </ion-col>
  </ion-row>
</ion-grid>