<ion-grid class="auth-container">
  <ion-row class="auth-row">
    <ion-col size="2"></ion-col>

    <ion-col size="8" class="auth-form-container ion-no-padding">
      <h1>Enter security code</h1>
      <p class="ion-no-padding ion-no-margin">Please check your emails for a message with your code. Your code is 6
        number long</p>

      <!-- Form -->
      <form class="auth-form-container" #otpForm="ngForm" (ngSubmit)="onSubmit(otpForm)">

        <ion-row>
          <ion-col class="ion-no-padding" size="6">
            <ion-input type="number" label="Enter code" label-placement="floating" fill="solid" placeholder="Enter code"
              name="otp" [(ngModel)]="otpData.otp" #otp="ngModel" required minlength="6" maxlength="6"
              pattern="^[0-9]{6}$" inputmode="numeric" autocomplete="one-time-code" max="999999"
              min="000000"></ion-input>
          </ion-col>

          <ion-col class="ion-padding-start" size="6">
            <span>We sent your code to:</span> <br>
            <span>tufailameen62&#64;gmail.com</span>
          </ion-col>
        </ion-row>

        <!-- Show Error -->
        <div class="text-danger" *ngIf="otp?.invalid && (otp?.touched || submitted)">
          <span *ngIf="otp.errors?.['required']">OTP is required</span>
          <span *ngIf="otp.errors?.['minlength']">OTP must be exactly 6 digits</span>
          <span *ngIf="otp.errors?.['maxlength']">OTP must be exactly 6 digits</span>
          <span *ngIf="otp.errors?.['pattern']">OTP must contain only 6 digits (0-9)</span>
          <span *ngIf="otp.errors?.['min']">OTP must be at least 000000</span>
          <span *ngIf="otp.errors?.['max']">OTP must not exceed 999999</span>
        </div>

        <ion-row>
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-button type="submit" expand="block" class="ion-no-margin ion-no-padding">Continue</ion-button>
          </ion-col>
        </ion-row>

      </form>
      <a routerLink="/login">Login with Password</a>
    </ion-col>
  </ion-row>
</ion-grid>